[run]
omit = */migrations/*
       */tests/*
       */admin/*
       userena/*
       */__init__.py
       */settings.py
       contrib/*
       */virtualenv/*
       */tests.py

[html]
directory = coverage_html_report
