Django==1.6.5
django-extensions==1.3.8
django-guardian==1.2.0
django-realtime==1.1
django-userena==1.3.0
easy-thumbnails==2.0.1
html2text==2015.6.21
html5lib==0.999999
isodate==0.5.4
pexpect==3.3
Pillow==2.3.0
psycopg2==2.5.3
pyparsing==2.0.3
pytz==2012rc0
rdflib==4.2.1
reportlab==3.0
six==1.9.0
South==0.8.4
SPADE==2.2.1
SPARQLWrapper==1.6.4
unittest-xml-reporting==1.12.0
wheel==0.24.0
