{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>La recuperación de tu clave esta a punto de terminar</h3>
        <h4>Ingresa una nueva clave y podras acceder al sitio sin ningún inconveniente.</h4>
</div>
{% endblock presentation %}

{% block content %}
<div class="formSignup">
	<span class="crearCuenta">
	    Crear Cuenta
	</span>
	<form action="" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	  <input type="submit" value="{% trans "Reset password" %}" />
	  
	</form>
</div>
{% endblock %}
