{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Recupera tu clave</h3>
        <h4>Te enviaremos un correo con un link para restablecer tu contraseña.</h4>
</div>
{% endblock presentation %}

{% block content %}
<div class="formSignup">
	<span class="crearCuenta">
	    Crear Cuenta
	</span>
	<form action="" method="post">
	    {% csrf_token %}

	    <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form.email.label_tag}}</h5>
              </ul>
            </div>
        </section>
        {{form.email.label_tag}}
        {{form.email.errors}}
        {{form.email}}
	  <input type="submit" value="{% trans "Send password" %}" />
	  <a href="{% url 'userena_signin' %}"><input type="button" value="Atrás" /></a>
	</form>
</div>
{% endblock %}
