//variables de colores
blanco = #fff
fondo_principal = #ededed
gris_oscuro = #444
gris_medio = #88a
gris_claro = #B4B49A
azul = #90bbf1
azul_oscuro = #10738E
facebook = #4862A3
twitter = #55ACEE
googleplus = #DF5138
menu = #25B9D5
menu_claro = rgba(37, 185, 213, .1) 
amarillo = #F7D443
naranja = #E05421
hueso = #F8F8F8
verde = #2ECC71
rosado = #EC6F6D


.header
	background-color rgba(254, 254, 254, 0.9)
	border-bottom 1px solid #eee
	box-shadow 0px 0px 5px rgba(158, 158, 158, 0.78)
	height 71px
	position fixed
	width 100%
	z-index 5

.logo img
	border-radius 10px
	height 50px
	margin 10px 0 10px 10px

.titular 
	margin-left 60px
	.titulo
		color gris_oscuro
		font-family 'Raleway', sans-serif;
		font-size 23px
		font-weight normal
		margin-bottom 0
		margin-top 12px
		text-align center
		transition: all .5s;
		text-shadow: none;	
	.subtitulo
		color #5B5B5B
		font-family arial
		font-size 13px
		font-weight 100
		margin-top 0
		text-align center
		transition: all .5s;
		text-shadow: none;	
.titular2
	margin-right 90px
	margin-left 60px
	.titulo
		color gris_oscuro
		font-family 'Raleway', sans-serif;
		font-size 23px
		font-weight normal
		margin-bottom 0
		margin-top 12px
		text-align center
		transition: all .5s;
		text-shadow: none;	
	.subtitulo
		color #5B5B5B
		font-family arial
		font-size 13px
		font-weight 100
		margin-top 0
		text-align center
		transition: all .5s;
		text-shadow: none;	



// media query
// panatalla mediana
//@media screen and (min-width: 480px)	
			
	

// panatalla grande
//@media screen and (min-width: 768px)
	