{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Agregar Ganado {% endblock %}


{% block js %}
<script type='text/javascript'>
  $(document).ready(function() {
    $( "#busqueda" ).on('keyup', function(tecla) {
      var busqueda = $("#busqueda").val()
        $.ajax({
          data: {'search': busqueda},
          type:'GET',
          contentType: 'application/json; charset=utf-8',
          dateType:'json',
          url:'/ws/ganados_hembras/',
          beforeSend: function(objeto){
            $('.content').html('<h5>Buscando "'+busqueda+'"</h5>');
          },

          success:function(response){
            $('.content').empty();
            if(response!=''){
              for (var i = 0; i < response.length; i++) {
                $('.content').append(
                    "<a>"+ 
                          "<div class='searching_cattle close_reveal_modal2' onclick=asigna_rp_madre("+response[i].fields.rp+");>"+ 
                              "<h5>#" + response[i].fields.rp + "</h5>" +
                              "<h5>(" + response[i].fields.nombre + ")</h5>" +
                          "</div>"+
                      "</a>"
                  ); 
              }
            }else{
              $('.content').html('<h5>No se encuentra "'+busqueda+'"</h5>');
            }
          },

          error: function(objeto, error){
            $('.content').html('<h5>¡Se produjo un error!</h5><h6>Verifica tu conexión e intenta de nuevo. o Contacta al administrador</h6>');
          },  

        });
    });

    $("#id_rp_padre").click(function() {
      $('.content2').empty();
      $('#busqueda2').val('');
    });

    $( "#busqueda2" ).on('keyup', function(tecla) {
      var valor = $("#id_forma_concepcion").val();
      
      if(valor == 0){ // inseminacion
        var busqueda2 = $("#busqueda2").val()
        $.ajax({
          data: {'search': busqueda2},
          type:'GET',
          contentType: 'application/json; charset=utf-8',
          dateType:'json',
          url:'/ajax/ganados_machos_inseminacion/',
          beforeSend: function(objeto){
            $('.content2').html('<h5>Buscando "'+busqueda2+'"</h5>');
          },
          success:function(response){
            $('.content2').empty();
            if(response!=''){
              for (var i = 0; i < response.length; i++) {
                $('.content2').append(
                    "<a>"+ 
                          "<div class='searching_cattle close_reveal_modal2' onclick=asigna_rp_padre("+response[i].fields.rp+");>"+ 
                              "<h5>#" + response[i].fields.rp + "</h5>" +
                              "<h5>(" + response[i].fields.name + ")</h5>" +
                          "</div>"+
                      "</a>"
                  ); 
              }
            }else{
              $('.content2').html('<h5>No se encuentra "'+busqueda2+'"</h5>');
            }
          },
          error: function(objeto, error){
            $('.content2').html('<h5>¡Se produjo un error!</h5><h6>Verifica tu conexión e intenta de nuevo. o Contacta al administrador</h6>');
          },  
        });
      }else{ // monta
        var busqueda2 = $("#busqueda2").val()
        $.ajax({
          data: {'search': busqueda2},
          type:'GET',
          contentType: 'application/json; charset=utf-8',
          dateType:'json',
          url:'/ajax/cattle_male_rp/',
          beforeSend: function(objeto){
            $('.content2').html('<h5>Buscando "'+busqueda2+'"</h5>');
          },
          success:function(response){
            $('.content2').empty();
            if(response!=''){
              for (var i = 0; i < response.length; i++) {
                $('.content2').append(
                    "<a>"+ 
                          "<div class='searching_cattle close_reveal_modal2' onclick=asigna_rp_padre("+response[i].fields.rp+");>"+ 
                              "<h5>#" + response[i].fields.rp + "</h5>" +
                              "<h5>(" + response[i].fields.nombre + ")</h5>" +
                          "</div>"+
                      "</a>"
                  ); 
              }
            }else{
              $('.content2').html('<h5>No se encuentra "'+busqueda2+'"</h5>');
            }
          },
          error: function(objeto, error){
            $('.content2').html('<h5>¡Se produjo un error!</h5><h6>Verifica tu conexión e intenta de nuevo. o Contacta al administrador</h6>');
          },  
        });
      }

      
    });
  }); 

  function asigna_rp_madre(valor){
    $('#id_rp_madre').val(valor);
  }
  function asigna_rp_padre(valor){
    $('#id_rp_padre').val(valor);
  }

  function asigna_rp_madre_desconocido(){
    $('#id_rp_madre').val('0');
  }
  function asigna_rp_padre_desconocido(){
    $('#id_rp_padre').val('0');
  }

</script>
{% endblock %}


{% block presentation %}
    <div class="presentacionSignup">
        <h3>Agrega Ganado</h3>
        <h4>Bienvenido registra tus ganados.</h4>
        <ul id="profile-nav">
          <li><a href="{% url 'list_cattle' %}">Listar Hembras</a></li>
          <li><a href="{% url 'list_cattle_male' %}">Listar Machos</a></li>
          <li><a href="{% url 'add_insemination' %}">Registrar Esperma</a></li>
          <li><a href="{% url 'list_insemination' %}">Listar Esperma</a></li>
        </ul>
    </div>
{% endblock presentation %}

{% block content %}

<div class="formSignup">
  <span class="crearCuenta">
      Registrar Ganado 
  </span>
   <form action="" enctype="multipart/form-data" method="post">     
      {% csrf_token %}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.forma_concepcion.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.forma_concepcion.errors}}
          {{formGanado.forma_concepcion}}
        </label>

      {% for form in formIdentificacion %}
        <section class="container">
          <div class="user">
            <img src="{{STATIC_URL}}img/help.png"/>
            <ul>
              <h5 class="sep">{{form.label_tag}}</h5>
            </ul>
          </div>
        </section>
        {{form.errors}}
        {{form}}
      {% endfor %}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.imagen.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.imagen.errors}}
      {{formGanado.imagen}}
      
      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.nacimiento.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.nacimiento.errors}}
      {{formGanado.nacimiento}}
      
      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.genero.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.genero.errors}}
          {{formGanado.genero}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.raza.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.raza.errors}}
          {{formGanado.raza}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.live_weight.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.live_weight.errors}}
      {{formGanado.live_weight}}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.unit_live_weight.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.unit_live_weight.errors}}
          {{formGanado.unit_live_weight}}
        </label>


      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.observaciones.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.observaciones.errors}}
      {{formGanado.observaciones}}

      <input type="submit" value="{% trans "Save" %}" />
    </form>
</div>

    <div id="myModal" class="reveal-modal">
         <h2>Buscar RP de la madre </h2>
          
          <input type="text" id="busqueda"  placeholder="RP, nombre o año de nacimiento" >

          <div class="content">
            <h5>Aquí estará tu Búsqueda</h5>
          </div>
        
         <a class="close-reveal-modal">&#215;</a>

          <div>
            <a class="cattleNotFound close-reveal-modal3" onclick="asigna_rp_madre_desconocido();">Madre no identificada</a>
          </div>
    </div>

    <div id="myModal2" class="reveal-modal">
         <h2>Buscar RP del padre </h2>

         {% csrf_token %}
          
          <input type="text" id="busqueda2"  placeholder="RP, nombre o año de nacimiento" >

          <div class="content2">
            <h5>Aquí estará tu Búsqueda</h5>
          </div>
         <a class="close-reveal-modal">&#215;</a>
          
          <div class="cattleNotFound close-reveal-modal3"  onclick="asigna_rp_padre_desconocido();">
            Padre no identificado
          </div>

    </div>
{% endblock %}