{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Listado de ganados{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
{% if ganado == '0' %}
    <div class="presentacion">
        <h3>Lista de Ganados a Asignar Alimento</h3>
        <h4>Listado de ganados registrados en la ganadería..</h4>
    </div>
{% else %}
    <div class="presentacion">
        <h3>Se realizo con éxito la asignación</h3>
        <h4>{{ alimento.nombre }}, asignado a "{{ ganado.identificacion_simple.nombre }}{{ ganado.identificacion_ecuador.nombre }}"</h4>

        <spam>
            <a href="{% url 'lista_alimento' user.username %}" class="btnIngresar">Regresar</a>
        </spam>
    </div>
{% endif %}
{% endblock %}

{% block content %}



<div class="account_list">
    
{% if ganado == '0' %}
    {% for g in ganados %}

        <a href="{% url 'asigna_alimento' user.username alimento_id g.id %}">
            <div>                
                
                <img src="{{MEDIA_URL}}{{ g.imagen }}" />
                <h4 class="texto_propiedades1">{{ g.identificacion_simple.nombre | capfirst }}</h4>
                <h4 class="texto_propiedades1">{{ g.identificacion_ecuador.nombre | capfirst }}</h4>

                {% for c in g.celos.all %}
                    {% if c.estado == 0 and c.is_active %}
                        <h4 class="texto_propiedades1">En Celo</h4> 
                    {% elif c.estado == 1 and c.is_active %}
                        <h4 class="texto_propiedades1">Sin Celo</h4> 
                    {% endif %}
                {% endfor %}

                {% if not g.celos.all %}
                        <h4 class="texto_propiedades1">Celo no registrado</h4>
                    {% endif %}
                
                {% for t in g.etapas.all %}
                    {% if t.nombre == 0 and t.is_active %}
                        <h4 class="texto_propiedades2">Ternera</h4>
                    {% elif t.nombre == 1 and t.is_active %}
                        <h4 class="texto_propiedades2">Vacona</h4>
                    {% elif t.nombre == 2 and t.is_active %}
                        <h4 class="texto_propiedades2">Vientre</h4>
                    {% endif %}
                {% endfor %}

                <hr>
                <h4 class="texto_propiedades3">{{ g.edad_anios }} {%if g.edad_anios == 1%}año{%else%}años{%endif%},
                                              {{ g.edad_meses }} {%if g.edad_meses == 1%}mes{%else%}meses{%endif%}
                                              y {{ g.edad_dias }} {%if g.edad_dias == 1%}día{%else%}días{%endif%}
                </h4>
            </div>
        </a>        
    {% endfor %}
{% endif %}

    
</div>


{% endblock %}
