{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Editar ganado{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Edita el Celo</h3>
    <h4>Ahora podras actualizar los datos de tu ganado.</h4>
    <ul id="profile-nav">
      <li><a href="{% url 'list_cattle' %}">Listar Ganado</a></li>
    </ul>
</div>
{% endblock presentation %}

{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Editar Celo {{ h }}
  </span>
   <form action="" enctype="multipart/form-data" method="post">
      
      {% csrf_token %}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{form.fecha_inicio.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{form.fecha_inicio.errors}}
      {{form.fecha_inicio}}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{form.observaciones.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{form.observaciones.errors}}
      {{form.observaciones}}
        
        <input type="submit" value="{% trans "Save" %}" />
        
    </form>
</div>
{% endblock %}
