{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Editar desparasitador{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block js %}
<script type='text/javascript'>
  $(document).ready(function() {

    if($("#id_number_application").val() == 0){
      $(".number_application").css("display", "none");
      $("#id_number_application").css("display", "none");
    }

    $('select#id_option_number_application').on('change',function(){
      var valor = $(this).val();
      if (valor == 1){
        $("#id_number_application").val('0');
        $(".number_application").css("display", "none");
        $("#id_number_application").css("display", "none");
      }else if (valor == 0){
        $("#id_number_application").val('');
        $(".number_application").css("display", "");
        $("#id_number_application").css("display", "");
      }
    });
    
  }); 
</script>
{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Editar la Medicina</h3>
    <h4>Ahora podras actualizar los datos del medicamento.</h4>
    <ul id="profile-nav">
      <li><a href="{% url 'add_wormer' %}">Agregar Desparacitador</a></li>
      <li><a href="{% url 'list_wormer' %}">Listar Desparacitadores</a></li>      
    </ul>
       
</div>
{% endblock presentation %}


{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Editar Desparacitador
  </span>
   <form action="" enctype="multipart/form-data" method="post">     
      <h1>{{msj}}</h1>
      {% csrf_token %}

      <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.name.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.name.errors}}
          {{form_wormer.name}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.expiration_date.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.expiration_date.errors}}
          {{form_wormer.expiration_date}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.amount.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.amount.errors}}
          {{form_wormer.amount}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.unit.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.unit.errors}}
            {{form_wormer.unit}}
          </label>

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.sex.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.sex.errors}}
            {{form_wormer.sex}}
          </label>

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.application_age.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.application_age.errors}}
          {{form_wormer.application_age}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.time_application_age.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.time_application_age.errors}}
            {{form_wormer.time_application_age}}
          </label>

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.amount_application.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.amount_application.errors}}
          {{form_wormer.amount_application}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.option_number_application.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.option_number_application.errors}}
            {{form_wormer.option_number_application}}
          </label>

          <section class="container number_application">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.number_application.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.number_application.errors}}
          {{form_wormer.number_application}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.interval.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.interval.errors}}
          {{form_wormer.interval}}

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.time_interval.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.time_interval.errors}}
            {{form_wormer.time_interval}}
          </label>

          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.administration_route.label_tag}}</h5>
              </ul>
            </div>
          </section>
          <label for="select" class="select">
            {{form_wormer.administration_route.errors}}
            {{form_wormer.administration_route}}
          </label>

          
          
          <section class="container">
            <div class="user">
              <img src="{{STATIC_URL}}img/help.png"/>
              <ul>
                <h5 class="sep">{{form_wormer.observations.label_tag}}</h5>
              </ul>
            </div>
          </section>
          {{form_wormer.observations.errors}}
          {{form_wormer.observations}}
        
      <input type="submit" value="{% trans "Save" %}" />
      
    </form>
</div>
{% endblock %}
