{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Editar alimento{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Edita el alimento</h3>
    <h4>Ahora podras actualizar los datos del alimento.</h4>
    <ul id="profile-nav">
      <li class="selected"><a href="{% url 'agrega_alimento' user.username %}">Agregar Alimento</a></li>
      <li><a href="{% url 'lista_alimento' user.username %}">Listar Alimentos</a></li>    
      <li><a href="{% url 'asigna_alimento' user.username alimento_id 0 %}">Asignar a Ganado</a></li>      
    </ul>
       
</div>
{% endblock presentation %}


{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Editar Ganado
  </span>
   <form action="" enctype="multipart/form-data" method="post">     
      
      {% csrf_token %}
      {{ formAlimento.as_p }}
        
      <input type="submit" value="{% trans "Save" %}" />
      <a href="{% url 'lista_alimento' user.username %}"><input type="button" value="Atrás" /></a>
      
    </form>
</div>
{% endblock %}
