{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Editar ganado{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Edita tu Ganado</h3>
    <h4>Ahora podras actualizar los datos de tu ganado.</h4>
    <ul id="profile-nav">
      {% for c in ganado.ciclos.all %}
        {% if c.nombre != 3 and c.is_active %}
            <li><a href="{% url 'edita_ganado_celo' id_cattle %}">Editar Celo</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="{% url 'list_cattle' %}">Listar Hembras</a></li>
      <li><a href="{% url 'list_cattle_male' %}">Listar Machos</a></li>
      <li><a href="{% url 'add_insemination' %}">Registrar Esperma</a></li>
      <li><a href="{% url 'list_insemination' %}">Listar Esperma</a></li>
    </ul>
       
</div>
{% endblock presentation %}


{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Editar Ganado  [{{id_cattle}}]
  </span>
   <form action="" enctype="multipart/form-data" method="post">     
      
      {% csrf_token %}

      {% for form in formIdentificacion %}
        <section class="container">
          <div class="user">
            <img src="{{STATIC_URL}}img/help.png"/>
            <ul>
              <h5 class="sep">{{form.label_tag}}</h5>
            </ul>
          </div>
        </section>
        {{form.errors}}
        {{form}}
      {% endfor %}

      
      
      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.imagen.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.imagen.errors}}
      {{formGanado.imagen}}
      
      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.nacimiento.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.nacimiento.errors}}
      {{formGanado.nacimiento}}
      
      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.genero.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.genero.errors}}
          {{formGanado.genero}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.raza.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.raza.errors}}
          {{formGanado.raza}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.forma_concepcion.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.forma_concepcion.errors}}
          {{formGanado.forma_concepcion}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.live_weight.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.live_weight.errors}}
      {{formGanado.live_weight}}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.unit_live_weight.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formGanado.unit_live_weight.errors}}
          {{formGanado.unit_live_weight}}
        </label>

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formGanado.observaciones.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formGanado.observaciones.errors}}
      {{formGanado.observaciones}}

        
        <input type="submit" value="{% trans "Save" %}" />
        <a href="{% url 'userena_profile_detail' user.username %}"><input type="button" value="Atrás" /></a>
        
    </form>
</div>
{% endblock %}
