{% extends 'base.html' %}
{% load i18n %}


{% block title %}Notificaciones Producción{% endblock %}

{% block js %}

{% endblock js %}

{% block presentation %}
{% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
    <div class="presentacionSignup">
      <h3>Notificaciones</h3>
      <h4>{{user.username|capfirst}}, administra tus notificaciones</h4>
        <ul id="profile-nav">
            <li><a href="{% url 'list_notifications_reproduccion' %}">Reproducción <span class="burbuja">{{number_reproduccion}}</span></a></li>
            <li><a href="{% url 'list_notifications_sanidad' %}">Sanidad <span class="burbuja">{{number_sanidad}} </span></a></li>
            <li><a href="{% url 'list_notifications_produccion' %}">Producción <span class="burbuja">{{number_produccion}} </span></a></li>
            <li><a href="{% url 'list_notifications_alimentacion' %}">Alimentación <span class="burbuja"> {{number_alimentacion}} </span></a></li>
            <li><a href="{% url 'list_notifications' %}">Todas <span class="burbuja">{{number_todas}} </span></a></li>
        </ul>
    </div>
{% endblock presentation %}

{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Notificaciones de Producción
  </span>
  
  <div id="details">

  <ul id="messages" class="list-view">
  
      <div id="comentarios">
      </div>      
      {% for message in notifications %}
        <li>
          <a href="{% url 'realizedNotification' message.id %}">
            <!--<img src="{{ STATIC_URL }}img/logo.png" class="avatar2" />-->
            <span class="destinatario">{{message.get_name_display}}</span><br>
            
            <p>
                {{ message.ident_cattle.identificacion_simple.nombre }}
                {{ message.ident_cattle.identificacion_ecuador.nombre }}
                {{ message.ident_medicament.name }}
              
                ({{ message.ident_cattle.identificacion_simple.rp }}
                {{ message.ident_cattle.identificacion_ecuador.rp }}
                {{ message.ident_medicament.amount }} {{ message.ident_medicament.get_unit_display }} )
                <p>
                  {{ message.ident_medicament.expiration_date }}
                </p>
            </p>
            <p><b>Inicio:</b>
                {{ message.start_date }}
            </p>
            <p>
                <b>Fin:</b>
                {{ message.end_date }}
            </p>
              
          </a>
        </li>
        
      {% endfor %}

  </ul>

</div>
{% endblock %}