{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Listado de ganados{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacion">
    <h3>Lista de Ganados de Reproducción</h3>
        <h4>Listado de ganados registrados en la ganadería..</h4>
        {% if imagen_ganado == 'Ausencia de registros' %}
            <h3>( {{ imagen_ganado }} )</h3>
        {% endif %}
</div>
{% endblock %}

{% block content %}



<div class="account_list2">
    
    {% for alimento in alimentos %}

        <a href="{% url 'edita_alimento' user.username alimento.id %}">
            <div>                
                
                <h4 class="texto_propiedades1">{{ alimento.nombre | capfirst }}</h4>

                {% if alimento.etapa == 0 %}
                    <h4 class="texto_propiedades2">Ternera</h4>
                {% elif alimento.etapa == 1 %}
                    <h4 class="texto_propiedades2">Vacona</h4>
                {% elif alimento.etapa == 2 %}
                    <h4 class="texto_propiedades2">Vaca</h4>
                {% endif %}

                {% if alimento.cantidad > 1 %}
                    <h4 class="texto_propiedades2">{{ alimento.cantidad }} unidades</h4>
                {% else %}
                    <h4 class="texto_propiedades2">{{ alimento.cantidad }} unidad</h4>
                {% endif %}

                <hr>
                <h4 
                    class="texto_propiedades3">{{ alimento.caduca }} 
                </h4>
            </div>
        </a>        
    {% endfor %}
    
</div>


{% endblock %}
