{% extends 'base.html' %}
{% load i18n %}


{% block title %}Notificaciones Producción{% endblock %}


{% block presentation %}
{% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
    <div class="presentacionSignup">
      <h3>Notificaciones</h3>
      <h4>{{user.username|capfirst}}, administra tus notificaciones</h4>
        <ul id="profile-nav">
            <li><a href="{% url 'list_notifications_produccion_realizadas' %}">Realizadas <span class="burbuja">{{ number_produccion_realizadas }}</span></a></li>
            <li><a href="{% url 'list_notifications_produccion_norealizadas' %}">No Realizadas <span class="burbuja">{{ number_produccion_norealizadas }} </span></a></li>

            <li><a href="{% url 'list_notifications' %}">Regresar</a></li>
        </ul>
    </div>
{% endblock presentation %}

{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Notificaciones de Producción
  </span>

  <div id="donutchart"></div>
  
  <div id="details">

  <ul id="messages" class="list-view">
  
      <div id="comentarios">
      </div>      
      {% for message in notifications %}
        <li id="c{{message.name}}">
          <a >
            <!--<img src="{{ STATIC_URL }}img/logo.png" class="avatar2" />-->
            <span class="destinatario">{{message.get_name_display}}</span><br>
            
            <p>
                {{ message.ident_cattle.identificacion_simple.nombre }}
                {{ message.ident_cattle.identificacion_ecuador.nombre }}
                {{ message.ident_medicament.name }}
              
                ({{ message.ident_cattle.identificacion_simple.rp }}
                {{ message.ident_cattle.identificacion_ecuador.rp }}
                {{ message.ident_medicament.amount }} {{ message.ident_medicament.get_unit_display }} )
                <p>
                  {{ message.ident_medicament.expiration_date }}
                </p>
            </p>
            <p><b>Inicio:</b>
                {{ message.start_date }}
            </p>
            <p>
                <b>Fin:</b>
                {{ message.end_date }}
            </p>
              
          </a>

          {% if message.get_name_display == 'Registro de ordeño' %}
            <div class="contextual5">
              <a href="{% url 'realizedNotification' message.id %}">Aceptar</a><br/>
            </div>
          {% endif %}
        </li>
        
      {% endfor %}

  </ul>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['estado', 'cantidad'],
      ['Realizadas',      {{ number_produccion_realizadas }}],
      ['No Realizadas',  {{ number_produccion_norealizadas }}],
      ['Pendientes',  {{ number_produccion }}],
    ]);

    var options = {
      title: '¿Cómo Administras tus Notificaciones?',
      pieHole: 0.2,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
{% endblock %}