{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Problema Gestación{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacionSignup">
    <h3>Problema Gestación</h3>
    <h4>Ahora podras actualizar los datos de tu ganado.</h4>
    <ul id="profile-nav">
      <li><a href="{% url 'lista_ganado' %}">Listar Ganado</a></li>
    </ul>
</div>
{% endblock presentation %}


{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      Editar Problema de Gestación [{{id_cattle}}]
  </span>
   <form action="" enctype="multipart/form-data" method="POST">     
      
      {% csrf_token %}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formProblemGestacion.fecha_problema.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formProblemGestacion.fecha_problema.errors}}
      {{formProblemGestacion.fecha_problema}}

      <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formProblemGestacion.tipo_problema.label_tag}}</h5>
          </ul>
        </div>
      </section>
        <label for="select" class="select">
          {{formProblemGestacion.tipo_problema.errors}}
          {{formProblemGestacion.tipo_problema}}
        </label>

        <section class="container">
        <div class="user">
          <img src="{{STATIC_URL}}img/help.png"/>
          <ul>
            <h5 class="sep">{{formProblemGestacion.observaciones.label_tag}}</h5>
          </ul>
        </div>
      </section>
      {{formProblemGestacion.observaciones.errors}}
      {{formProblemGestacion.observaciones}}

        
        <input type="submit" value="{% trans "Save" %}" />
        
    </form>
</div>
{% endblock %}
