{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Profiles' %} de Técnicos{% endblock %}

{% block content_title %}<h2 class="content-title">{% trans 'Profiles' %}</h2>{% endblock %}

{% block presentation %}
<div class="presentacion_principal">
    <h3>Administrador de técnicos</h3>
        <h4>Registro de técnicos que administran los registros de producción, alimentación, sanidad y producción. Además alertas y sugerencias oportunas.</h4>
    
</div>
{% endblock %}

{% block content %}
<div class="list_profile">
    {% for profile in profile_list %}
    
        <a href="{% url 'userena_profile_detail' profile.user.username %}">
            <div>
                <img src="{{ profile.get_mugshot_url }}" />
                <h4>{{ profile.user.get_full_name }}</h4>
            </div>
        </a>
    
    {% endfor %}

</div>

{% endblock %}
