{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Perfil{% endblock %}

{% block content_title %}<h2 class="content-title">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}


{% block presentation %}
{% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
{% if user.username == profile.user.username %}
    <div class="presentacionSignup">
        <h3>Mi perfil</h3>
        <h4>Bienvenido a tu perfil en Hatos Ganaderos.</h4>
        <ul id="profile-nav">
            <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
            <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change" %} Clave</a></li>
            <li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'agrega_ganaderia_config' %}">Mi Ganadería</a></li>
            {% endif %}

        </ul>
    </div>
{% endif %}
{% endblock presentation %}

{% block content %}
<div class="formSignup">
  <span class="crearCuenta">
      {% trans "View profile" %}
  </span>
  <div id="details">
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        <p><strong>{% trans "Name" %}</strong><br /> 
        {% if profile.user.get_full_name %}
                {{ profile.user.get_full_name }}
        {% else %}
                <a href="{% url 'userena_profile_edit' user.username %}"><span class='errorGanaderia'>Sin asignar</span></a>
            </p>
        {% endif %}
        <p>
            <strong>
                {% trans "Dirección" %}
            </strong><br/>
            {{ profile.direccion }}
        </p>
        <p><strong>{% trans "Entidad Ganadera" %}</strong><br /> 
        {% if ganaderia == 'Sin asignar' %}
            <a href="{% url 'agrega_ganaderia_config' %}"><span class='errorGanaderia'>{{ganaderia}}</span></a>
        {% else %}
            {{ ganaderia.nombreEntidad }}
        {% endif %}
        </p>


        
        {% if profile.age != 0 %}
        <!--<p><strong>{% trans "Age" %}</strong><br /> {{ profile.age }}</p>-->
        {% endif %}
        {% if profile.website %}
        <p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        {% endif %}
        {% if profile.location %}
        <p><strong>{% trans "Location" %}</strong><br />{{ profile.location }}</p>
        {% endif %}
        {% if profile.about_me %}
        <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}
