.header {
  background-color: rgba(254,254,254,0.9);
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 5px rgba(158,158,158,0.78);
  height: 71px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.logo img {
  border-radius: 10px;
  height: 50px;
  margin: 10px 0 10px 10px;
}
.titular {
  margin-left: 60px;
}
.titular .titulo {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 12px;
  text-align: center;
  transition: all 0.5s;
  text-shadow: none;
}
.titular .subtitulo {
  color: #5b5b5b;
  font-family: arial;
  font-size: 13px;
  font-weight: 100;
  margin-top: 0;
  text-align: center;
  transition: all 0.5s;
  text-shadow: none;
}
.titular2 {
  margin-right: 90px;
  margin-left: 60px;
}
.titular2 .titulo {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 12px;
  text-align: center;
  transition: all 0.5s;
  text-shadow: none;
}
.titular2 .subtitulo {
  color: #5b5b5b;
  font-family: arial;
  font-size: 13px;
  font-weight: 100;
  margin-top: 0;
  text-align: center;
  transition: all 0.5s;
  text-shadow: none;
}
