body,input,textarea,select
  font-size 17pt

.main
  &.style2
    .content
      opacity .7
      width 100%
    &.right
      .content
        left 0%
    &.inactive
      &.left
        .content
          left -100%

// media query
// panatalla mediana
@media screen and (min-width: 480px)  
  .main
    &.style2
      .content
        width 70%
      &.right
        .content
          left 30%
      
  

// panatalla grande
@media screen and (min-width: 768px)
  .main
    &.style2
      .content
        width 50%
      &.right
        .content
          left 50%