<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Python Module Index &mdash; HatosGanaderos 1.0 documentation</title>
    
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="HatosGanaderos 1.0 documentation" href="index.html" />
 


  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="#" title="Python Module Index"
             >modules</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            

   <h1>Python Module Index</h1>

   <div class="modindex-jumpbox">
   <a href="#cap-a"><strong>a</strong></a> | 
   <a href="#cap-g"><strong>g</strong></a> | 
   <a href="#cap-m"><strong>m</strong></a> | 
   <a href="#cap-n"><strong>n</strong></a> | 
   <a href="#cap-p"><strong>p</strong></a> | 
   <a href="#cap-r"><strong>r</strong></a> | 
   <a href="#cap-s"><strong>s</strong></a> | 
   <a href="#cap-w"><strong>w</strong></a>
   </div>

   <table class="indextable modindextable" cellspacing="0" cellpadding="2">
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-a"><td></td><td>
       <strong>a</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-1" style="display: none" alt="-" /></td>
       <td>
       <a href="alimentos.html#module-alimentos"><tt class="xref">alimentos</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-1">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="alimentos.html#module-alimentos.admin"><tt class="xref">alimentos.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-1">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="alimentos.html#module-alimentos.forms"><tt class="xref">alimentos.forms</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-1">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="alimentos.html#module-alimentos.models"><tt class="xref">alimentos.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-1">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="alimentos.html#module-alimentos.tests"><tt class="xref">alimentos.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-1">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="alimentos.html#module-alimentos.views"><tt class="xref">alimentos.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-g"><td></td><td>
       <strong>g</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-2" style="display: none" alt="-" /></td>
       <td>
       <a href="ganados.html#module-ganados"><tt class="xref">ganados</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-2">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="ganados.html#module-ganados.admin"><tt class="xref">ganados.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-2">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="ganados.html#module-ganados.forms"><tt class="xref">ganados.forms</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-2">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="ganados.html#module-ganados.models"><tt class="xref">ganados.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-2">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="ganados.html#module-ganados.tests"><tt class="xref">ganados.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-2">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="ganados.html#module-ganados.views"><tt class="xref">ganados.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-m"><td></td><td>
       <strong>m</strong></td><td></td></tr>
     <tr>
       <td></td>
       <td>
       <a href="manage.html#module-manage"><tt class="xref">manage</tt></a></td><td>
       <em></em></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-3" style="display: none" alt="-" /></td>
       <td>
       <a href="medicament.html#module-medicament"><tt class="xref">medicament</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-3">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="medicament.html#module-medicament.admin"><tt class="xref">medicament.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-3">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="medicament.html#module-medicament.forms"><tt class="xref">medicament.forms</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-3">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="medicament.html#module-medicament.models"><tt class="xref">medicament.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-3">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="medicament.html#module-medicament.tests"><tt class="xref">medicament.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-3">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="medicament.html#module-medicament.views"><tt class="xref">medicament.views</tt></a></td><td>
       <em></em></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-4" style="display: none" alt="-" /></td>
       <td>
       <a href="messages.html#module-messages"><tt class="xref">messages</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-4">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="messages.html#module-messages.admin"><tt class="xref">messages.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-4">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="messages.html#module-messages.forms"><tt class="xref">messages.forms</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-4">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="messages.html#module-messages.models"><tt class="xref">messages.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-4">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="messages.html#module-messages.tests"><tt class="xref">messages.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-4">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="messages.html#module-messages.views"><tt class="xref">messages.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-n"><td></td><td>
       <strong>n</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-5" style="display: none" alt="-" /></td>
       <td>
       <a href="notifications.html#module-notifications"><tt class="xref">notifications</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-5">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="notifications.html#module-notifications.admin"><tt class="xref">notifications.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-5">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="notifications.html#module-notifications.models"><tt class="xref">notifications.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-5">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="notifications.html#module-notifications.tests"><tt class="xref">notifications.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-5">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="notifications.html#module-notifications.views"><tt class="xref">notifications.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-p"><td></td><td>
       <strong>p</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-6" style="display: none" alt="-" /></td>
       <td>
       <a href="profiles.html#module-profiles"><tt class="xref">profiles</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-6">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="profiles.html#module-profiles.admin"><tt class="xref">profiles.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-6">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="profiles.html#module-profiles.forms"><tt class="xref">profiles.forms</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-6">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="profiles.html#module-profiles.models"><tt class="xref">profiles.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-6">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="profiles.html#module-profiles.tests"><tt class="xref">profiles.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-6">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="profiles.html#module-profiles.views"><tt class="xref">profiles.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-r"><td></td><td>
       <strong>r</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-7" style="display: none" alt="-" /></td>
       <td>
       <a href="reports.html#module-reports"><tt class="xref">reports</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-7">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="reports.html#module-reports.admin"><tt class="xref">reports.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-7">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="reports.html#module-reports.models"><tt class="xref">reports.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-7">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="reports.html#module-reports.tests"><tt class="xref">reports.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-7">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="reports.html#module-reports.views"><tt class="xref">reports.views</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-s"><td></td><td>
       <strong>s</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-8" style="display: none" alt="-" /></td>
       <td>
       <a href="SIDGV.html#module-SIDGV"><tt class="xref">SIDGV</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-8">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="SIDGV.html#module-SIDGV.settings"><tt class="xref">SIDGV.settings</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-8">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="SIDGV.html#module-SIDGV.urls"><tt class="xref">SIDGV.urls</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-8">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="SIDGV.html#module-SIDGV.wsgi"><tt class="xref">SIDGV.wsgi</tt></a></td><td>
       <em></em></td></tr>
     <tr class="pcap"><td></td><td>&nbsp;</td><td></td></tr>
     <tr class="cap" id="cap-w"><td></td><td>
       <strong>w</strong></td><td></td></tr>
     <tr>
       <td><img src="_static/minus.png" class="toggler"
              id="toggle-9" style="display: none" alt="-" /></td>
       <td>
       <a href="webServices.html#module-webServices"><tt class="xref">webServices</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados"><tt class="xref">webServices.wsGanados</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados.admin"><tt class="xref">webServices.wsGanados.admin</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados.models"><tt class="xref">webServices.wsGanados.models</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados.tests"><tt class="xref">webServices.wsGanados.tests</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados.urls"><tt class="xref">webServices.wsGanados.urls</tt></a></td><td>
       <em></em></td></tr>
     <tr class="cg-9">
       <td></td>
       <td>&nbsp;&nbsp;&nbsp;
       <a href="webServices.wsGanados.html#module-webServices.wsGanados.views"><tt class="xref">webServices.wsGanados.views</tt></a></td><td>
       <em></em></td></tr>
   </table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="#" title="Python Module Index"
             >modules</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, @mricharleon.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.3.
    </div>
  </body>
</html>