<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>SIDGV package &mdash; HatosGanaderos 1.0 documentation</title>
    
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="HatosGanaderos 1.0 documentation" href="index.html" />
    <link rel="next" title="alimentos package" href="alimentos.html" />
    <link rel="prev" title="Welcome to HatosGanaderos’s documentation!" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="alimentos.html" title="alimentos package"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Welcome to HatosGanaderos’s documentation!"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="sidgv-package">
<h1>SIDGV package<a class="headerlink" href="#sidgv-package" title="Permalink to this headline">¶</a></h1>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-SIDGV.settings">
<span id="sidgv-settings-module"></span><h2>SIDGV.settings module<a class="headerlink" href="#module-SIDGV.settings" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="SIDGV.settings.ugettext">
<tt class="descclassname">SIDGV.settings.</tt><tt class="descname">ugettext</tt><big>(</big><em>s</em><big>)</big><a class="headerlink" href="#SIDGV.settings.ugettext" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
<div class="section" id="sidgv-settings-dotcloud-module">
<h2>SIDGV.settings_dotcloud module<a class="headerlink" href="#sidgv-settings-dotcloud-module" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-SIDGV.urls">
<span id="sidgv-urls-module"></span><h2>SIDGV.urls module<a class="headerlink" href="#module-SIDGV.urls" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-SIDGV.wsgi">
<span id="sidgv-wsgi-module"></span><h2>SIDGV.wsgi module<a class="headerlink" href="#module-SIDGV.wsgi" title="Permalink to this headline">¶</a></h2>
<p>WSGI config for SIDGV_2 project.</p>
<p>This module contains the WSGI application used by Django&#8217;s development server
and any production WSGI deployments. It should expose a module-level variable
named <tt class="docutils literal"><span class="pre">application</span></tt>. Django&#8217;s <tt class="docutils literal"><span class="pre">runserver</span></tt> and <tt class="docutils literal"><span class="pre">runfcgi</span></tt> commands discover
this application via the <tt class="docutils literal"><span class="pre">WSGI_APPLICATION</span></tt> setting.</p>
<p>Usually you will have the standard Django WSGI application here, but it also
might make sense to replace the whole Django WSGI application with a custom one
that later delegates to the Django one. For example, you could introduce WSGI
middleware here, or combine a Django application with an application of another
framework.</p>
</div>
<div class="section" id="module-SIDGV">
<span id="module-contents"></span><h2>Module contents<a class="headerlink" href="#module-SIDGV" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="SIDGV.reverse_decorator">
<tt class="descclassname">SIDGV.</tt><tt class="descname">reverse_decorator</tt><big>(</big><em>func</em><big>)</big><a class="reference internal" href="_modules/SIDGV.html#reverse_decorator"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#SIDGV.reverse_decorator" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">SIDGV package</a><ul>
<li><a class="reference internal" href="#submodules">Submodules</a></li>
<li><a class="reference internal" href="#module-SIDGV.settings">SIDGV.settings module</a></li>
<li><a class="reference internal" href="#sidgv-settings-dotcloud-module">SIDGV.settings_dotcloud module</a></li>
<li><a class="reference internal" href="#module-SIDGV.urls">SIDGV.urls module</a></li>
<li><a class="reference internal" href="#module-SIDGV.wsgi">SIDGV.wsgi module</a></li>
<li><a class="reference internal" href="#module-SIDGV">Module contents</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Welcome to HatosGanaderos&#8217;s documentation!</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="alimentos.html"
                        title="next chapter">alimentos package</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/SIDGV.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="alimentos.html" title="alimentos package"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Welcome to HatosGanaderos’s documentation!"
             >previous</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, @mricharleon.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.3.
    </div>
  </body>
</html>