<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>webServices.wsGanados package &mdash; HatosGanaderos 1.0 documentation</title>
    
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="HatosGanaderos 1.0 documentation" href="index.html" />
    <link rel="up" title="webServices package" href="webServices.html" />
    <link rel="prev" title="webServices package" href="webServices.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="webServices.html" title="webServices package"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li>
          <li><a href="webServices.html" accesskey="U">webServices package</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="webservices-wsganados-package">
<h1>webServices.wsGanados package<a class="headerlink" href="#webservices-wsganados-package" title="Permalink to this headline">¶</a></h1>
<div class="section" id="submodules">
<h2>Submodules<a class="headerlink" href="#submodules" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-webServices.wsGanados.admin">
<span id="webservices-wsganados-admin-module"></span><h2>webServices.wsGanados.admin module<a class="headerlink" href="#module-webServices.wsGanados.admin" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-webServices.wsGanados.models">
<span id="webservices-wsganados-models-module"></span><h2>webServices.wsGanados.models module<a class="headerlink" href="#module-webServices.wsGanados.models" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-webServices.wsGanados.tests">
<span id="webservices-wsganados-tests-module"></span><h2>webServices.wsGanados.tests module<a class="headerlink" href="#module-webServices.wsGanados.tests" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-webServices.wsGanados.urls">
<span id="webservices-wsganados-urls-module"></span><h2>webServices.wsGanados.urls module<a class="headerlink" href="#module-webServices.wsGanados.urls" title="Permalink to this headline">¶</a></h2>
</div>
<div class="section" id="module-webServices.wsGanados.views">
<span id="webservices-wsganados-views-module"></span><h2>webServices.wsGanados.views module<a class="headerlink" href="#module-webServices.wsGanados.views" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleFoodFinal">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleFoodFinal</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleFoodFinal"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleFoodFinal" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleFood_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleFood_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleFood_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleFood_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleVaccineFinal">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleVaccineFinal</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleVaccineFinal"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleVaccineFinal" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleVaccine_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleVaccine_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleVaccine_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleVaccine_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleWormerFinal">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleWormerFinal</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleWormerFinal"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleWormerFinal" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxAssignCattleWormer_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxAssignCattleWormer_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxAssignCattleWormer_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxAssignCattleWormer_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxCattleMaleRp_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxCattleMaleRp_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxCattleMaleRp_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxCattleMaleRp_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxCattleMale_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxCattleMale_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxCattleMale_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxCattleMale_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxFood_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxFood_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxFood_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxFood_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxGanadosMachosInseminacion_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxGanadosMachosInseminacion_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxGanadosMachosInseminacion_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxGanadosMachosInseminacion_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxInsemination_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxInsemination_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxInsemination_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxInsemination_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.ajaxVaccine_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">ajaxVaccine_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#ajaxVaccine_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.ajaxVaccine_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.wsGanadosHembras_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">wsGanadosHembras_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#wsGanadosHembras_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.wsGanadosHembras_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.wsGanadosProduccion_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">wsGanadosProduccion_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#wsGanadosProduccion_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.wsGanadosProduccion_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.wsGanados_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">wsGanados_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#wsGanados_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.wsGanados_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<dl class="function">
<dt id="webServices.wsGanados.views.wsWormer_view">
<tt class="descclassname">webServices.wsGanados.views.</tt><tt class="descname">wsWormer_view</tt><big>(</big><em>request</em>, <em>*args</em>, <em>**kwargs</em><big>)</big><a class="reference internal" href="_modules/webServices/wsGanados/views.html#wsWormer_view"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#webServices.wsGanados.views.wsWormer_view" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

</div>
<div class="section" id="module-webServices.wsGanados">
<span id="module-contents"></span><h2>Module contents<a class="headerlink" href="#module-webServices.wsGanados" title="Permalink to this headline">¶</a></h2>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">webServices.wsGanados package</a><ul>
<li><a class="reference internal" href="#submodules">Submodules</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados.admin">webServices.wsGanados.admin module</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados.models">webServices.wsGanados.models module</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados.tests">webServices.wsGanados.tests module</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados.urls">webServices.wsGanados.urls module</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados.views">webServices.wsGanados.views module</a></li>
<li><a class="reference internal" href="#module-webServices.wsGanados">Module contents</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="webServices.html"
                        title="previous chapter">webServices package</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/webServices.wsGanados.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="webServices.html" title="webServices package"
             >previous</a> |</li>
        <li><a href="index.html">HatosGanaderos 1.0 documentation</a> &raquo;</li>
          <li><a href="webServices.html" >webServices package</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, @mricharleon.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.3.
    </div>
  </body>
</html>